# Files and directories created by npm.
/node_modules/
/package-lock.json

# Files and directories created by IntelliJ.
/.idea/
/app.iml

# Project directories
/assets/img/club/
/assets/img/player/
/assets/img/passport/

